body.loading {
    opacity: 0;
    transform: translateY(20px);
}

body.ready {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

main,
#header-title,
#back-btn span {
    transition: opacity 0.2s ease-in-out;
}

#header-title .mobile-short {
    display: none;
}

html,
body {
    overflow-x: hidden;
    overscroll-behavior-x: none;
}

#mobile-menu {
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

#mobile-menu-overlay {
    touch-action: none;
}
